= form_for( [ @extension.loan, @extension ], :html => { :class => "loan_form new_extension", 'data-loan_id' => @extension.loan.uuid } ) do |f|
	.extend
		.field
			.label_wrap
				= f.label :days, "Extend by:"
				%span.presets
					- [ 7, 14, 30 ].each do |no_of_days|
						%button{ :type => "button", :name => "duration_preset", :value => no_of_days,  :class => "btn-link" } #{no_of_days} days
			.input_wrap
				= f.number_field :days, :class => "form-control primary"
				%span &nbsp;days
				.info
					Loan will need to be repaid by
					.maturity_date= @extension.maturity_date.strftime( "%d.%m.%Y" )
		.repayment
			Total:&nbsp;
			%span.total_wrap
				€
				%span.new_total= number_with_precision(@extension.get_total, precision:2) 
		.calendar
		.actions= f.submit "Extend loan", :class => "btn btn-danger submit"
		.summary
			.line.maturity_date_line
				.name Date of repayment:
				.value_wrap.maturity_date= @extension.maturity_date.strftime( "%d.%m.%Y" )
			.line
				.name Initial loan:
				.value_wrap
					€
					%span.value= number_with_precision(@extension.loan.principal, precision:2)
			.line
				.name Commission accrued so far:
				.value_wrap
					€
					%span.interest= number_with_precision(@extension.loan.interest, precision:2)
			.line
				.name Cost of extension:
				.value_wrap
					€
					%span.extension_cost= number_with_precision(@extension.loan.get_extension_cost( @extension.days ), precision:2)
			.line
				.name New total:
				.value_wrap
					€
					%span.new_total= number_with_precision(@extension.get_total, precision:2)
			