.new_loan
  = form_for( @loan, :html => { :class => '' } ) do |f|
    = f.hidden_field :interest
    = f.hidden_field :total
    = f.hidden_field :maturity_date
    %h2 Jauns aizņēmums
    - if @loan.errors.any?
      #error_explanation
        %h2
          = pluralize(@loan.errors.count, "error")
          &nbsp;prohibited this loan from being saved:
        %ul
          - @loan.errors.full_messages.each do |message|
            %li= message
    .field
      .label_wrap
        = f.label :principal, 'Cik vēlies aizņemties?'
        %span.presets
          %button{ :type => "button", :name => "principal_preset", :value => 100, :class => "btn-link" } 100 eiro
          %button{ :type => "button", :name => "principal_preset", :value => 200, :class => "btn-link" } 200 eiro
          %button{ :type => "button", :name => "principal_preset", :value => 300, :class => "btn-link" } 300 eiro
      .input_wrap
        = f.number_field :principal, :class => 'form-control primary'
        %span &nbsp;eiro
    .field
      .label_wrap
        = f.label :days, 'Uz cik ilgu laiku?'
        %span.presets
          %button{ :type => "button", :name => "duration_preset", :value => 7, :class => "btn-link" } 7 dienas
          %button{ :type => "button", :name => "duration_preset", :value => 14, :class => "btn-link" } 14 dienas
          %button{ :type => "button", :name => "duration_preset", :value => 30, :class => "btn-link" } 30 dienas
      .input_wrap
        = f.number_field :days, :class => 'form-control primary'
        %span &nbsp;dienas
    .repayment
      Aizņēmums būs jāatmaksā 2. septembrī, kopējā summa 354 eiro
      .calendar
    = f.fields_for :user do |ff|
      = ff.hidden_field :uuid
      .field
        .label_wrap
          = ff.label :name, 'Vārds'
        .input_wrap
          = ff.text_field :name, :class => 'form-control'
      .field
        .label_wrap
          = ff.label :phone, 'Telefons'
        .input_wrap
          = ff.text_field :phone, :class => 'form-control'
      .field
        .label_wrap
          = ff.label :iban, 'Bankas konta numurs (IBAN)'
        .input_wrap
          = ff.text_field :iban, :class => 'form-control'
    .actions
      = f.submit 'Saņemt naudu', :class => 'btn btn-primary submit'
