.new_loan
  = form_for( @loan, :html => { :class => 'loan_form new_loan_form' } ) do |f|
    %h2 New Loan
    - if @loan.errors.any?
      #error_explanation
        %h2
          = pluralize(@loan.errors.count, "error")
          &nbsp;prohibited this loan from being saved:
        %ul
          - @loan.errors.full_messages.each do |message|
            %li= message
    .field
      .label_wrap
        = f.label :principal, 'How much do you need?'
        %span.presets
          - [ 100, 200, 300 ].each do |principal|
            %button{ :type => "button", :name => "principal_preset", :value => principal, :class => "btn-link" } €#{principal}
      .input_wrap
        = f.number_field :principal, :class => 'form-control primary'
        %span &nbsp;EUR
        .info
          Total amount to repay
          .total
            €
            %span.value= number_with_precision(@loan.total, precision:2)
    .field
      .label_wrap
        = f.label :days, 'For how long?'
        %span.presets
          - [ 7, 14, 30 ].each do |days|
            %button{ :type => "button", :name => "duration_preset", :value => days, :class => "btn-link" } #{days} days
      .input_wrap
        = f.number_field :days, :class => 'form-control primary'
        %span &nbsp;days
        .info
          Date of repayment
          .value.maturity_date= @loan.maturity_date.strftime( "%d.%m.%Y" )
    .repayment
      .calendar
    = f.fields_for :user do |ff|
      = ff.hidden_field :uuid
      .field
        .label_wrap
          = ff.label :name, 'Name'
        .input_wrap
          = ff.text_field :name, :class => 'form-control'
      .field
        .label_wrap
          = ff.label :phone, 'Phone number'
        .input_wrap
          = ff.text_field :phone, :class => 'form-control'
      .field
        .label_wrap
          = ff.label :iban, 'Bank account number (IBAN)'
        .input_wrap
          = ff.text_field :iban, :class => 'form-control'
    .actions
      = f.submit 'Receive money', :class => 'btn btn-primary submit'
    .summary
      .line.maturity_date_line
        .name Date of repayment:
        .value_wrap.maturity_date= @loan.maturity_date.strftime( "%d.%m.%Y" )
      .line
        .name Loan:
        .value_wrap
          €
          %span.principal= number_with_precision(@loan.principal, precision:2)
      .line
        .name Comission:
        .value_wrap
          €
          %span.interest= number_with_precision(@loan.interest, precision:2)
      .line
        .name Total:
        .value_wrap
          %span.total
            €
            %span.value= number_with_precision(@loan.total, precision:2)
      .extension_title Loan Extension
      - [ 7, 14, 30 ].each do |days|
        .line{ 'data-no_of_days' => days }
          .name #{days} days:
          .value_wrap
            €
            %span.value= @loan.get_extension_cost( days )
      
    
