.row
	- if !notice.blank?
		.notice.bg-success= notice
	.col-sm-6
		- if @user.outstanding_loan.blank?
			= render 'form'
		- else
			= render 'current', :loan => @user.outstanding_loan
	- if @loans.count > 0
		.col-sm-6
			%h2 Loan History
			%table.history.table.table-striped
				%thead
					%tr
						%th Date
						%th Principal
						%th Total
						%th Status
				%tbody
					- @loans.each do |loan|
						- if !loan.new_record?
							%tr{ 'data-id' => loan.uuid }
								%td= loan.created_at
								%td= loan.principal
								%td= loan.total
								%td.status
									- if loan.disbursed
										- if loan.repaid
											Repaid
										- else
											- if loan.days_remaining < 0
												Past due
											- elsif loan.days_remaining == 0
												Due today
											- elsif loan.days_remaining == 1
												Due tomorrow
											- elsif loan.days_remaining > 1
												Due in #{loan.days_remaining} days
									- else
										- if loan.approved
											Payment in progress
										- else
											Declined
									