- if !notice.blank?
	.notice= notice
- if @loans.count > 0
	%table.history.table.table-striped
		%thead
			%tr
				%th UUID
				%th Principal
				%th APR
				%th Total
		%tbody
			- @loans.each do |loan|
				- if !loan.new_record?
					%tr
						%td= loan.uuid
						%td= loan.principal
						%td= loan.apr
						%td= loan.total
- if @user.outstanding_loan.blank?
	= render 'form'
- else
	= render 'current', :loan => @user.outstanding_loan